<h2 class="p-3 mb-3 bg-dark bg-gradient text-white" style="border-radius: 10px;">Edição de anotações</h2>

<div class="card">
    <div class="card-body" style="font-size: large;">
        <form action="/admin/anotacoes/edit" method="POST">
            <input type="hidden" name="id" value="{{anotacao.id}}">
            <input type="hidden" name="idHash" value="{{anotacao.idHash}}">
            <label for="titulo"><h5 class="card-title">Titulo: </h5> </label>
            <input type="text" name="titulo" id="titulo" placeholder="Titulo da anotação" class="form-control" value="{{anotacao.titulo}}"><br>
            <label for="conteudo"><h5 class="card-title">Conteudo: </h5></label>
            <input type="text" id="conteudo" name="conteudo" placeholder="Conteudo da anotação" class="form-control" value="{{anotacao.conteudo}}"><br>
        <button type="submit" class="btn btn-dark">Editar Anotação</button><br>
    </form>
    </div>
</div>