<h2 class="p-3 mb-3 bg-dark bg-gradient text-white" style="border-radius: 10px;">Search: </h2>
<div class="card">
    <div class="card-body" style="font-size: large;">
        <form method="POST" class="d-flex" >
        <input type="text" size="80" name="query" id="query"></textarea>
        <button class="btn btn-outline-success" type="submit" >Buscar</button>
      </form>
    </form>
    </div>
</div>