
<form action="/admin/anotacoes/teste" method="POST">
    <input type="text" name="query"> </textarea>
    <input type="hidden" name="teste" id="teste" value="teste">
    <button type="submit" name="buscar" class="btn btn-success"> Buscar</button>
</form>

{{#each anotacoes}}
    <div class="card">
        <ul>
            
                <h3 class= "mt-3"style= "font-size: 25px; border-radius: 20px">{{titulo}}</h3><br>
                <h5 style="font-size: 20px;">{{conteudo}}</h5><br>
            
        </ul>
    </div>
{{else}}
{{/each}}
<br>

<script>
    
</script>