html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(232, 224, 240);
}

h1 {
	color: rgb(18, 18, 224);
}

#head{
  background-color: rgb(59, 59, 60);
  padding: 30px;
}

#container{
  text-align: center;
  align-items: center;
  align-content: center;
}

#form{
  border: 1px solid black;
  margin-left: 600px;
  width: 400px;
  font-size: 20px;
  padding: 10px;
  margin-top: 200px;
}

button{
  width: 200px;
  height: 30px;
  margin-top: 20px;
}
